ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline;
}

img
{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search input[type=text]
{
    position: fixed;
    top: 35%;
    left: 37%;
    border-radius: 25px;
    width: 25%;
    height: 30px;
}


.button
{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    color: white;
    background-color: grey;
    height: 70px;
    width: 70px;
    margin-left:25px;
    text-align: center;
    line-height: 65px;
}

.button-group
{
    position: fixed;
    top: 40%;
    left: 39%;
}