.topnav-right
{
    text-align: right;
    padding: 14px 16px;
}

.center-img
{
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search input[type=text]
{
    position: fixed;
    top: 35%;
    left: 35%;
    border-radius: 20px;
    width: 30%;
    height: 30px;
}

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 350px auto 0;
    align-content: center;
    text-align: center;
}

.button
{
    padding: 30px 30px;
    text-align: center;
    border-radius: 50%;
    background-color: grey;
    height: 30px;
    width: 30px;
    margin-left: 20px;
    color: white;
}